<!-- <div class="grid-container">
    <div class="grid-item">
        <img id="logo" src="../assets/Images/loginpage.png"  alt="logo image">
    </div>
    <div class="grid-item">
        <div id="form">
            <form action="/users/create-session" method="POST">
                <input type="email" name="email" placeholder="Your Email" required>
                <input type="password" name="password" placeholder="password" required>
                <input type="submit"  value="Sign In">
            </form>
        </div>
    </div>
   
  </div> -->
  <div class="grid-container">
    <div class="item2">
        <h1>CODEIAL LOGIN PAGE</h1>
    </div>
    <div class="item1">
        <div id="form">
            <form action="/users/create-session" method="POST">
                <input type="email" name="email" placeholder="Your Email" required>
                <input type="password" name="password" placeholder="password" required>
                <button type="submit"  value="Sign In">Sign In</button>
            </form>
        </div>
    </div>
  </div>